<% if !@line_item.nil? && @line_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @line_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


  <div id="order-table" style="position:static;">
    <table cellspacing="2" cellpadding="3" border="0">
      <!--<thead>-->
      <tr class="order-head">
        <th class="order-item-nom" width="10px">№</th>
        <th class="order-head-name" width="520px">Наименование</th>
        <th class="order-head-name" width="15%">Размер</th>
        <th class="order-head-price" width="15%">Цена</th>
        <th id="ggg" class="order-head-cnt" width="7%" nowrap>Кол-во</th>
        <th class="order-head-sum" width="5%">Сумма</th>
        <th class="order-head-del" width="8%">Удалить</th>
      </tr>
      <!--</thead>-->
    </table>

<%# if @cart %>
    <%# if @cart.total_quantity > 0 %>

    <div class="shopping-cart">

      <% @i2 = 0 %>  <!--для подсчета порядкового номера при оформлении заказа ( carts/_cart_row.html.erb )-->

      <% @cart.line_items.each do |line_item| %>

          <%= render 'carts/cart_row', tovar: line_item.tovar_razmer, line_item: line_item, show_total: true %>

      <% end %>

      <h4 class="cart-text">Итого<%= render 'layouts/cart_text' %>руб.</h4>

      <%#= link_to "Продолжить покупки",sort_tovars_sort_all_path %>

      <%= button_to  "Продолжить покупки",sort_tovars_sort_all_path %>

    </div>

    <%# end %>
<%# end %>

    <br><br>

    <!--<h2>Способ оплаты</h2>-->

    <!--&lt;!&ndash;<table width="100%" border="0" celspacing="0" celpadding="2" id="payments-list" class="methods-list">&ndash;&gt;-->
    <!--<tr valign="top" id="payment-block-1">-->
      <!--<th><input type="radio" name="payment" value="1" class="payment-item" id="pay-type-1" onclick="shEvOrd('payment',this)" checked></th>-->
      <!--<td>-->
        <!--<label class="label" for="pay-type-1">Наличными при получении</label></br>-->
        <!--Рассчитаться можно с курьером наличными при получении товара-->
      <!--</td>-->
    <!--</tr>-->
    <!--&lt;!&ndash;</table>&ndash;&gt;-->

    <!--<br><br>-->

    <!--<h2>Способ доставки</h2>-->

    <!--&lt;!&ndash;<table width="100%" border="0" celspacing="0" celpadding="2" id="delivery-list" class="methods-list">&ndash;&gt;-->
    <!--<tr valign="top" id="delivery-block-1" >-->
      <!--<th><input type="radio" name="delivery" value="1" class="delivery-item" id="del-type-1" onclick="shEvOrd('delivery',this,1)" checked></th>-->
      <!--<td><label class="label" for="del-type-1">Самовывоз</label></br>-->
        <!--Товар вы можете получить по прибытию в наш офис</td>-->
    <!--</tr>-->
    <!--&lt;!&ndash;</table>&ndash;&gt;-->

    <!--<br><br>-->

    <!--<table border="0" cellpadding="0" cellspacing="0" width="100%" id="total-sum">-->
    <tr valign="top">
      <td>
        <h4>Сумма к оплате выбранным способом </h4>
        <!--<span class="osum order_topay_curr"><%#= render 'layouts/cart_text' %> руб.</span>-->
        <h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>

      </td>
    </tr>
    <!--</table>-->

  </div>

